.settingsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 200px;
    height: 150px;
    margin: 15px 25px;
    background-color: #d0bcd9;
    border: solid 3px #4a1670;
    border-radius: 5px;
    padding: 10px;
}