.settingsMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #8460bb;
    border: solid 2px #322344;
}